@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  height: 60vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

.delete-information {
  @include fontSize(20);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.item {
  @include transition();
  transform: none;
  display: flex;
  align-items: center;
  width: calc(100% * 1/3 - 10px);
  height: 50px;
  margin-bottom: 10px;

  &--transform {
    @include transition();
    transform: scale(1.1);
  }

  &__index {
    flex-basis: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
  }

  &__content {
    height: 100%;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--value {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50%;
      background: $footer-bg;
      color: $second-font-color;
    }

    &--delete {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50%;
      text-align: center;
      background: $button-bg;
      cursor: pointer;
    }
  }
}
