<div class="container">
  <div *ngIf="removedItem" class="delete-information">
    Usunięto element <strong>{{ removedItem }}</strong>
  </div>
  <div *ngFor="let item of elements; let i = index" #arrItem (click)="selectThirdElement(arrItem, i - 1)" class="item">
    <div class="item__index">
      {{ i }}
    </div>
    <div class="item__content">
      <div class="item__content--value">
        {{ item }}
      </div>
      <div (click)="deleteItemFromArray(i)" class="item__content--delete">
        Delete item
      </div>
    </div>
  </div>
</div>
