@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.main {
  background-color: $main;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;

  @media (min-width: $xs + 'px') and (max-width: $md + 'px') {
    color: $second-font-color;
    background-color: $nav-bg;
  }
}
