@import "../../../../styles/variables";

.sidebar-right {
  color: $second-font-color;
  background-color: $right-sidebar;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10vw;
  padding: 10px;

  @media (max-width: $xs + 'px') {
    height: 10vh;
    width: 100vw;
  }

  &.hidden {
    display: none;
  }
}
