@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  width: 100%;
  max-width: 100%;
  height: 60vh;
  display: flex;
  overflow: hidden;

  @media (max-width: $xs + 'px') {
    flex-direction: column;
    justify-content: space-between;
  }
}

.main {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
}
