<app-header></app-header>
<div class="container">
  <app-left-sidebar [visible]="true"></app-left-sidebar>
  <app-main class="main"></app-main>
  <app-right-sidebar [visible]="true"></app-right-sidebar>
</div>
<app-footer></app-footer>
