@import 'variables';

@mixin fontSize( $size: 16 ) {
  font-size: ($size / 16) + rem;
}

@mixin transition($in: 0.3s, $out: 0.3s) {
  transition: all $in ease-in-out;

  &:hover {
    transition: all $out ease-in-out;
  }
}

@mixin defaultLink() {
  color: $base-font-color;
  position: relative;
  text-decoration: none;

  &:hover {
    color: $hover-font-color;
    text-decoration: none;
  }
}
