// _global
$white: #ffffff;
$base-font-color: #000000;
$second-font-color: #ffffff;
$hover-font-color: #0082fe;
$nav-bg: #353d46;
$footer-bg: #1e232a;
$left-sidebar: #262e37;
$right-sidebar: darken($left-sidebar, 30%);
$main: #ffffff;
$button-bg: #0082fe;

// breakpoints
$xs: 480;
$md: 768;
