@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.nav {
  background-color: $nav-bg;
  display: flex;
  align-items: center;
  height: 20vh;
  justify-content: center;

  &__link {
    @include defaultLink();
    @include fontSize(14);
    @include transition(0.4s, 0.2s);
    color: $second-font-color;
    margin: 5px 20px;
    padding: 10px;
    background-color: $base-font-color;
    border: 1px solid $button-bg;

    &:hover {
      transform: translateY(-3px);
      background-color: $white;
    }

    @media (min-width: $md + 'px') {
      background-color: $button-bg;
    }
  }
}
