@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.footer {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    @include fontSize(50);
    color: $white;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

    @media (min-width: $md + 'px') {
      background-color: $footer-bg;
    }
  }
}
