/* You can add global styles to this file, and also import other style files */
@import "styles/mixins";
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  @include transition(0.2s, 0.2s);
}
